# SecuShield Mobile Application Environment Configuration

# Development Base URL
# EXPO_PUBLIC_API_URL=http://<YOUR_LOCAL_IP>:5000/api/v1

# Production Base URL
EXPO_PUBLIC_API_URL=https://shield-api-pkfz.onrender.com/api/v1
EXPO_PUBLIC_API_BASE_URL=https://shield-api-pkfz.onrender.com/api/v1
